<div class="container">    
    {{ model | json}} <br><br>
    <form (ngSubmit)="onSubmit(dataForm)" #dataForm="ngForm">
        <ngx-bootstrap-form-input  name="product_category_name" [model] = "model" [attribute] = "'product_category_name'" [(ngModel)]="model.product_category_name"></ngx-bootstrap-form-input>
        <ngx-bootstrap-form-textarea name="product_category_description" [model] = "model" [attribute] = "'product_category_description'" [(ngModel)]="model.product_category_description"></ngx-bootstrap-form-textarea>
        <ngx-bootstrap-form-textarea name="product_category_notes" [model] = "model" [attribute] = "'product_category_notes'" [(ngModel)]="model.product_category_notes"></ngx-bootstrap-form-textarea>
        <ngx-bootstrap-form-textarea name="product_category_notes_internal" [model] = "model" [attribute] = "'product_category_notes_internal'" [(ngModel)]="model.product_category_notes_internal"></ngx-bootstrap-form-textarea>
        


        <ngx-bootstrap-form-select name="product_category_status_enable" [model] = "model" [attribute] = "'product_category_status_enable'" [options] = "model.STATUS_ENABLE_OBJ" [(ngModel)]="model.product_category_status_enable"></ngx-bootstrap-form-select>
        <button type="submit" class="btn btn-success">Submit</button>
    </form>
    
</div>