<div class="container">
    <br>
    <ngx-bootstrap-breadcrumb [breadcrumbItems]="breadcrumbItems"></ngx-bootstrap-breadcrumb>
    <br>
    <a routerLink="/customer-details/create" class="btn btn-success">Create Customer Details</a>
    <br><br>
    
    
    
    
    <table class="table table-striped" *ngIf="models.length > 0">
        <thead>
            <tr>

                <th scope="col">#</th>
                <th scope="col">Customer Name</th>
                
                
                <th scope="col">Customer ID</th>
                <th scope="col">Phone Number</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let model of models; let i = index">
                <th scope="row">{{ i+1 }}</th>
                <td><a [routerLink]="['/customer-details/view', model.customer_id]">{{ model.customer_name }}</a></td>
                <td>{{ model.customer_id }}</td>
                <td>{{ model.customer_phone_number }}</td>
            </tr>
        </tbody>
    </table>

    <button type="button" class="btn btn-success" (click)="getFromIndexDB()">Fetch Saved Data</button>
    
</div>