<div class="container">
    <br><br>
    <a routerLink="/coupon-details/create" class="btn btn-success">Create Coupon Details</a>
    <br><br>
    <table class="table table-striped" *ngIf="models.length > 0">
        <thead>




            <tr>
                <th scope="col">#</th>
                <th scope="col">Coupon Name</th>
            
                <th scope="col">Coupon Code</th>
                <th scope="col">Redeem Count</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let model of models; let i = index">


                <th scope="row">{{ i+1 }}</th>
                <td>{{ model.coupon_details_name }}</td>
                <td>{{ model.coupon_details_code }}</td>
                <td>{{ model.coupon_details_redeem_count }}</td>
            </tr>
        </tbody>
    </table>

    <button type="button" class="btn btn-success" (click)="getFromIndexDB()">Fetch Saved Data</button>
    
</div>